*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, sans-serif;
  background: linear-gradient(to right, #2e3a59, #3a2e59);
  color: #ffffff;
  display: flex;
  justify-content: center;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
